[Unit]
Description=MariaDB database server
Documentation=man:mariadbd(8)
Documentation=https://mariadb.com/kb/en/library/systemd/
After=network.target

[Service]
Type=forking

ExecStartPre=/usr/bin/bash -c "[ -d /var/run/mariadb ] || mkdir /var/run/mariadb"
ExecStartPre=/usr/bin/chown mariadb:mariadb /var/run/mariadb

ExecStart=/etc/init.d/mariadb start
# ExecStart=/usr/local/apps/mariadb/bin/mariadbd $MYSQLD_OPTS

ExecStop=/etc/init.d/mariadb stop
ExecReload=/etc/init.d/mariadb reload

PrivateDevices=false
# Prevent writes to /usr, /boot, and /etc
ProtectSystem=false
# Prevent accessing /home, /root and /run/user
ProtectHome=false
PermissionsStartOnly=true
Restart=no
PrivateTmp=false
#PrivateTmp=true
LimitNOFILE=32768

TimeoutStartSec=900
TimeoutStopSec=900
TasksMax=99%


KillSignal=SIGTERM

# Don't want to see an automated SIGKILL ever
SendSIGKILL=no

Restart=on-abort
RestartSec=5s

UMask=007


[Install]
WantedBy=multi-user.target