[Unit]
Description=MySQL database server
After=network.target syslog.target

[Service]
Type=forking

ExecStartPre=/usr/bin/bash -c "[ -d /var/run/mysqld ] || mkdir /var/run/mysqld"
ExecStartPre=/usr/bin/chown mysql:mysql /var/run/mysqld
ExecStart=/etc/init.d/mysql start
ExecStop=/etc/init.d/mysql stop
ExecReload=/etc/init.d/mysql reload

Restart=no
PrivateTmp=false
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target